<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paypal with Node.js</title>
</head>
<body>
    <h1>Pay with Paypal</h1>
    <div className="plan">
        <h3>Monthly</h3>
        <p><b>$20/month</b></p>
        <p>This is the Monthly Basic plan</p>
        <form action="/pay" method="post">
            <input type="submit" value="Pay">
        </form>
    </div>

    <div className="plan">
        <h3>OneTime</h3>
        <p><b>$60</b></p>
        <p>This is the Onetime Basic plan</p>
        <form action="/pay" method="post">
            <input type="submit" value="Pay">
        </form>
    </div>
</div>
<div id="premiumPlans" className="plans-container">
    <div className="plan">
        <h3>Monthly</h3>
        <p><b>$99.99/month</b></p>
        <p>This is the Monthly Premium plan</p>
        <form action="/pay" method="post">
            <input type="submit" value="Pay">
        </form>
    </div>

    <div className="plan">
        <h3>OneTime</h3>
        <p><b>$300</b></p>
        <p>This is the Onetime Premium plan</p>
        <form action="/pay" method="post">
            <input type="submit" value="Pay">
        </form>
    </div>
</body>
</html>